@import url("/assets/vendors/bootstrap/css/bootstrap.min.css");
@import url("/assets/vendors/font-awesome/css/all.min.css");
@import url("/assets/vendors/nice-select/css/nice-select.css");
@import url("/assets/vendors/magnific-popup/css/magnific-popup.css");
@import url("/assets/vendors/slick/css/slick.css");
@import url("/assets/css/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
